* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #21202a;
  font-family: 'Inter', sans-serif;
  color: #7e7a99;
}

a {
  color: inherit;
  text-decoration: none;
}
