.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  width: 280px;
  height: 370px;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 1px 8px 1px #424341;

  text-align: center;

  background-color: #575757;

  input {
    width: 100%;
    height: 56px;
    border: 3px solid #88968d;
    border-radius: 1rem;
    text-align: end;
    padding: 0 0.5rem;

    font-family: 'Big Shoulders Stencil Display', sans-serif;
    font-size: 2.4rem;
    color: #464a44;
    background-color: #bdd2c1;
  }
}

.keyboard-container {
  button {
    width: 54px;
    height: 40px;
    margin-top: 0.9rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 4px black;

    font-size: 1.6rem;
    font-weight: bolder;
    background-color: #ececec;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }

    &:nth-child(n+3):nth-child(-n+5) {
      margin-right: 0.5rem;
    }
    &:nth-child(n+7):nth-child(-n+9) {
      margin-right: 0.5rem;
    }
    &:nth-child(n+11):nth-child(-n+13) {
      margin-right: 0.5rem;
    }
    &:nth-child(n+15):nth-child(-n+17) {
      margin-right: 0.5rem;
    }
  }
}