.main-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.isChecked {
  background-color: #000;
}

.notIsChecked {
  background-color: #fded07;
}