.header-container {
  width: 100vw;
  height: 5rem;
  padding: 2rem 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    li {
      list-style: none;
      text-transform: uppercase;
      font-size: 0.9rem;

      transition: text-decoration 0.2s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}