form {
  padding: 2rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;

    label {
      padding: 1rem;
      border-radius: 0.5rem;

      input {
        margin-right: 1rem;
      }
    }
  }

  button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;

    color: #fff;
    font-size: 1.1rem;
    background-color: #7519e6;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.checked {
  background-color: rgb(51, 182, 51);
}

.unchecked {
  background-color: rgb(253, 62, 62);
}